@model PlayerWebApp.EU.Models.Klub

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Klub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivKluba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivKluba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
