@model PlayerWebApp.EU.Models.AddOrEditIgrac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AddOrEditIgrac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tezina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drzava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrzavaKluba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrzavaKluba)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
