@model IEnumerable<PlayerWebApp.EU.Models.Igraci>

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tezina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KlubID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrzavaID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tezina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KlubID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrzavaID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
